[Unit]
Description=Shadowsocks Server Service
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
WorkingDirectory={{ ss_dir }}
ExecStartPre=/usr/bin/python create_config.py
ExecStart=/usr/bin/ssserver --user nobody --fast-open --workers 2 -c /etc/shadowsocks.json -d start
ExecStop=/usr/bin/ssserver -d stop

[Install]
WantedBy=multi-user.target
